@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  /* 去掉聚焦时蓝色边框 */
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}

#app {
  width: 60%;
  height: 280px;
  margin: auto;
  background-color: #f2f2f2f2;
  --leftmargin: 4%;
  --border:1px solid #222;
  --currency-input:34px;
}
#app .bg {
  width: 100%;
  height: 5%;
  background-color: #222;
}
#app .container {
  display: flex;
  flex-direction: column;
  height: 95%;
}
#app .container .header {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--leftmargin);
}
#app .container .header .header-input {
  position: relative;
}
#app .container .header input {
  font-size: 24px;
  font-weight: 700;
}
#app .container .main {
  flex: 2;
  display: flex;
  margin-left: var(--leftmargin);
}
#app .container .main .left-block {
  flex: 1;
}
#app .container .main .left-block .currency {
  position: relative;
  margin-bottom: 24px;
}
#app .container .main .left-block .currency label {
  display: inline-block;
  height: var(--currency-input);
  width: 40px;
  padding: 4px;
  border: var(--border);
  vertical-align: middle;
  font-weight: 700;
}
#app .container .main .left-block .currency input {
  height: var(--currency-input);
  border: var(--border);
  border-left: none;
  vertical-align: middle;
  font-size: 16px;
}
#app .container .main .right-block {
  flex: 1;
}
#app .container .main .right-block .client-rate-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: var(--border);
  font-weight: 500;
}
#app .container .main .right-block .client-rate-box input {
  font-size: 16px;
}
#app .container .footer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: var(--border);
}
#app .container .submit {
  width: 20%;
  height: 60%;
  margin-right: 1.5%;
  font-size: 18px;
  color: #fff;
  background-color: #e72907;
  border-radius: 2px;
  opacity: 0.5;
  cursor: pointer;
}
#app .container .tips {
  position: absolute;
  color: red;
}
#app .container .tips1 {
  left: 0;
  bottom: -18px;
}
#app .container .tips2 {
  left: 0;
  bottom: -20px;
}
#app .container .tips3 {
  bottom: -44px;
}